streamlit>=1.38
pandas>=3.0.6
openpyxl>=3.1.5
pypdf>=6.19.0
python-docx>=1.2.0
openai>=3.25.0
mammoth>=1.13.0

#.streamlit==1.41.1
#openai==1.59.7
#pdfplumber==0.11.5
#python-docx==1.1.2
#openpyxl==3.1.5
#defusedxml==0.7.1